.region {
  background: #fff;
  margin-top: .24rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.wt-subtitle {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  flex: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .08rem 0 0 .10667rem;
  font-size: .32rem;
  color: #999;
}

.reg_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 0 .32rem;
  height: 1.2rem;
}

.reg_p {
  font-size: .5rem;
  font-weight: 700;
  line-height: .48rem;
  color: #333;
}

.reg_tuan {
  color: #FCA500;
  font-size: .39667rem;
  justify-content: flex-end;
}

/* 
.reg_bottom {

  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;

} */

.reg_u {
  display: flex;
  margin-bottom: .08rem;
  justify-content: space-between;
  width: 100%;
  padding: .32rem;
  padding-top: 0;
}

.reg_u li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  width: 1.68rem;
  height: .72rem;
  padding: .24rem 0;
  border: 1px solid #f1f1f1;
  border-radius: .08rem;
  font-size: .32rem;
  text-align: center;
  color: #333;
}

.reg_u li i {
  margin-bottom: .08rem;
}

.reg_u li span {
  color: #ff5e00;
}
