.travel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;


  align-items: flex-start;
  position: relative;
  padding-left: .32rem;
  padding-right: .32rem;
  flex-wrap: wrap;
  justify-content: space-between;

  .travel-b {
    background-size: 32%;
    background-color: #f2f3f4;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALkAAABPCAYAAAC3ZmRYAAAK50lEQVR42u2daXQW1RnH35CQJgES0bKIoFJBKsgmCngwNiyipUilKWUJiG31CCKtgiKyVIWyyKGeQrXCQWQtsig7YoEgBS1QkFJEZI+syhaWAIFs//4/zIf3vCeQuevMO29+5/zO8YMz9+a5D+/MPHPvnVA5wQRAR9pF0EcF27gLcrxvOxib6DafuIEuoqNpO5oYIwnZmb5Aa2s6XyvIMVCwncchxx9tB/gw/MsJ+hpNCniSTwVx2EZH0EYK51sOcb6lCYLtvAQ5OtoO8FL4n920cYCTfCNKZzsdQG8VOFcTyNFJot9TIMedtgP8DKKDXNowoEl+GjfnGl1AH3BxrvkQ55+S/f4XxLlM42wHOJkeR3TwHU0OWILfBjGW0KY3ONfDtARiFNJGkn0/BXG+8irQWYgehgQsydtAnBI6L/w2BkBF+jXEGSvZ71shx1wvgz0Z0cHhgCX5s5DnKE13zjMM4uyjSbSC89+HBTwGOS7SwwoeoWddeoo2CQ92HB2L6KBWgJJ8ItQoou/QfImrwaNOH+5B9KB+lXLq01/B36QHKMlXwRveD+vDLxA8dtLEsoLfjI6gM+indI2k6w3U4lsHKMk/hX1yaGpYH15BsLhOm3j1cFsCPTQOUJLH0Uy6G3YooK0i+vABgsVQLwd0E9QpDuIbUOfhrxc9aLs6BeBLBIdsWsHLgfwI6uwPBRinFNiPXoB+PqNxpbR5DsHgB1rT6wGcCXWWxsikrXp0F/RxnFYvpZ3qCAbFtIMfBu4TqDPG0H1xM5pFB9EJ9EM6S8GZ9HbFfqXQjVDnyo2mBIB9pMNFVOjT31yefx3EGeWXX6fNUCdLU1/iaTc6m/4A/YzV1M8aNBfylNCumsdxPuRIc3HudhI1/2wa75ckPwp1min2IZE+Z/gBbyWtoDFuYyDPawbGcSfEOenivI/QyxBjv8AsTSsTwUq8rKwASKc5Fl5CVNEYt/70KuT40kQVSLI/68s4b0t6SWJm6r1+epBqBnUOKNyajKJFMMsReoemeNWmy6HGdgPjWBdyvHeTczan5yVmT7bzW7WgF9RZJtFuEl0D85zS8asC4G46hV6HOmcNjGMnnUvrALSgZyHOc34sif3Z9sMcgB/R1TDP97Shhim3c2kh9FJJ8zgOghwdSjnXEzQP4gz2a913MdTJErx3XAbzHJP9BQcTkPaj/4M5Gmgex2mQo3YpK9IKDb6ytw+AvVCnudAvjnlyaF2JWNxFJ9DzME8dH0zNuBRxjmGQY6SfEzyRFmqorCS7bO8+mg+z7KC1JWKxgBbBHslOu43pi6pK/sM8GXb8bMixR6KvvWwm+f1Q56BAe1tglgU0RSIONWGXK2Ftj0fsMcpmkne3VVkB0B7mKKHDFeLQFnY5IrD1SNA4Q9NsJvlbUGecx4sQLtAuyi925DghuUh5a1jb+xBb/N72PfnHUKe3i3Z+SkugnxX0Dg8Wi2+mPWhFyclts8Om7xYidljuxYPntyYrKwaXcZ2lWRrjsMblZfavtGnEsXsgzjDn2IaIHXbRtMBWVgCs0PxwWV1zLI7dZFephbQrrVjKcQm0AOJ0dY7/FWKDbyzu5GC/sgKggqa681qaYSAOlUvZf+QjmkmTyzi2AeS4zzl+OILPfFrZqxr5b2zcYwFopFg1WUIfMhiHFnQ3nUAzaEWBY5+COIVw2gAwB8HkOl1G24TsY7+yAiAT4lyjs2lDG6vyFY4dCnH2hh3/IO1owMfpdMWH/Yu0n2C77ek9ZhdK2K+s9HHRzjCBpWDLaW+aGiXrPWdBnCWG+9SIrocam2ndkBX8X1l5QDERSuhe5/95hQ6mQ+lIOoqOoxPpJPp3Oo3OpP+gC+kSupJ+RrPpRnq3xRhuNXH1U9joczItVCwkjBHb9D/4c1ZSBNaP2uA4jbMYx4sQ52nNfUigA+k5DbFrG7KK/ysrh1y2lQt7vG0xhrUgR0uNffg13Q915tHbgrZ3SHdLlZVqlvf3qGcxhj0gR6qGtn9Gt0Kdg7RjUDfIGQV1xrtaVWOPRRb3SBwiebt3QsMVeCXUuUiHB/rDZgA+sVRZ+R3sUEQb2fjEimKSrVNYpDyDFmu42s2k9WlVWcP/cQR9NVALF+28DTtMNRyvJPoyPQ013pVI7g98Ookrl66lz9OkIFZWSmiKTz7TeJLeYnCTz/70BPQwQGBngGm0ANHBIZrhpyRvDHUOC9TiTdPZUOXkLXoSemlvLbntc40+6Zck7wF1VrjcOOg6zDJec2wy6CKDtwe1bvLDMycAc8sv0jp+SPLRlior9WCW1TReQzzS6EC6x3QC3GBJ4CoEizk+32dF/a2dpY86baIpinGoT6fRK7DD1oiq024Ek3ya5nWS77NUWXkZZvhCRxABvAu7zArbPawIAcazTfeFA6xeWZkC/SyiSZpikQ27DA17oRN0+nuZ5E0tVlY+1/yy5080TmMsTsAuTzntdjP84LeBzpI0m56BOs9H+w62K122dVJjDba15jikQp4rKnsfAhgJ/Vylw2iipvj8UnEfyO5eJvkYGzP9AFSBOpfpm7SSgTi0hDjbaG/aE+IU0ASn7XkGpjT83ECMEhS2jmvhZZIvtVRZaaH4UmEarWUwDn3hjjw6nT4cduwIiLMn7PgdNJLvaH+6HeKMN/wMlwNxKnuZ5AegzoOGbouO0tdpNQtxGFfGJKb19OnIq4jCL/Fi59i4iNud/9AeYb/ypyFOfcOxmiI6jl4meBIt1lBZqaRxkfQ++heaQeM9vKIV0Wzan9Yo49j/QpwxYVtDH6Hj6f2RMxyltgQxiOSOAmu8TPLmUCdH4QvP52i2k9R9aH2PZ2HmOv3sQ39s+ONTfcLuc+M0zr1fYSFW2yDGJC+TvLfFykoXmknTaQNa1WczMVvReInjfmLwFu9ZyUrPcc32jejXpWiqkY+DOhNCAcbgVIUqLs490ScTrG6J+NKdKBleDtByqNM3FGAMbVx6zOW5V8J73ojoUweIU9PLAToEdR6K8SSfDnHWSo2PfQ7QpIg+DYQY570cnBRDlZXgo76HzGThypd98mmrUvr1HsTYHO2VlVOhGAfABYjzgovzNoF3FN3oNbzEdnMfhkg072C7K8YTvBbkaCuwD45tculjGucfDfFygIZDnXUxnuSdIcftLs79Buxylo6l1cpYMSXKk14O0CSoc4pWCAUAi1tdXxB4eSbKINpO0EdoTYF3CaLU93KAZkIP6TGa4HGSK6q2uDz/Tohzp+G/+RmJjffjvRykuRq/V980BpP8Rcgxw9BUgQIaZ/hvfgdi7A6ZxPJStMt0KX2DZtGeAXaw4scKXnW1S5Y4JSaTHEBlehxiLPI6yd9EOUoYrKx0ghxNDOVKGl0NcUZ7neTdUI5timmqi7EZADlW0QTNedJaYTeHTK+TPI1eRTk22WKhvLuJPkar0ngJk2gT2pd+AXlKfLGJP4A5KMcmfV2Oy+uIfj73S4UgHeXY4nua5HJcMhH9POGnUthUlGODzgJjUp0WIHpZ5bd6bwr9BuWYZJLVb6p6f8Wq4ccXG3XoXpRjgnEy9WtngXMeoovTtKGf3+BVowtRji6O0Z4altblIzrYYXeeivqm8/PpNZQjw9f0VZqsaTza0D3wL7l0BE2MxrkZyU6AX6KT6GL6b2cQc+hpep7m0XxaQAsdiwxY7BMLaB49Q4/QDXQK/QO91+B3inrSj+kBesXDvz+P7nf68luaGtLI/wEihL8l8hsVDwAAAABJRU5ErkJggg==);
    position: relative;
    display: block;
    color: #333;
    margin-bottom: 9px;
    width: 171px;


    img {
      height: 171px;
      width: 171px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      border-top-right-radius: .16rem;
      border-top-left-radius: .16rem;
      pointer-events: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      user-select: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      /* transition: opacity 100ms ease 0s; */
      opacity: 1;

    }

    .like-text-area {
      background-color: #fff;
      padding-left: .32rem;
      padding-bottom: .33333rem;
      box-sizing: border-box;
      width: 171px;
      border-bottom-right-radius: .16rem;
      border-bottom-left-radius: .16rem;
    }

    .like-type-text {
      padding-top: .32rem;
      line-height: .44rem;
      font-weight: 600;
      font-size: .32rem;
      text-overflow: ellipsis;
      width: 3.92rem;
      color: #7F7E67;
    }

    .like-type-title {
      font-weight: 600;
      font-size: .34667rem;
      color: #333;
      line-height: .49333rem;
      margin-top: .08rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      word-break: break-all;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .like-price-area {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;

      .like-price-area-left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        align-items: flex-end;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: hidden;

        .like-price-prefix {
          font-size: .29333rem;
          color: #ff5000;
          line-height: 15px;
          height: 15px;
        }

        .like-price-num {
          font-size: .42667rem;
          color: #ff5000;
          line-height: 15px;
          height: 15px;
        }

        .like-price-description {
          font-size: .29333rem;
          color: #999;
          margin-left: .10667rem;
          height: 15px;
          line-height: 15px;
          white-space: pre-wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          word-break: break-all;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

      }

      .like-similar-btn-text {
        padding: 0 .18667rem 0 .24rem;
        line-height: .6rem;
        font-size: .29333rem;
        color: #666;
        height: .64rem;
      }
    }
  }


}
