.logo {
  width: 2.13333333rem;
  height: 2.13333333rem;
  background: url(https://gw.alicdn.com/tfs/TB1p.BGQXXXXXbFXFXXXXXXXXXX-160-160.png) no-repeat;
  background-size: contain;
  margin: 1.25333333rem auto 0;
}
